*{
    margin: 0px;
    padding: 0px;
    font-family:'Titillium Web', sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif, "微软雅黑";
}
body{
    width: 100%;
    /* height: 668px; */
    overflow: hidden;
    /*background:url("../images/bg.jpg");*/
    /*background-color: darkgrey;*/
}
.header{
    position: fixed;
    width: 100%;
    height: 60px;
    margin: 0px auto;
    background-color: #ffffff;

    border-bottom: 1px solid #ffffff;
    /*border: solid seagreen;*/
    /*border-bottom: 1px solid #0099cc :*/
}
.nav_class{
    height: 60px;
}
.span1{
    display: inline-block;
    font-size: 24px;
    color: #444444;
    margin-top: 23px;
}
.span_user{
    color: #444444;
    cursor: pointer;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    margin-top: 19px;
}
.btnclass{
    border: none;
	margin-left: 210px;
	margin-top: -29px;
	font-size: 16px;
	background: transparent;
	color: #c8c8c8;
}
.btn_icon{
    border: none;
    box-shadow: 1px 1px 1px ;
    margin-left: 10px;
    margin-top: 12px;
}
.btnclass:hover{
    background-color: transparent;
}
.sub_div{
    border-radius: 1px;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    height: 30px;
    cursor: pointer;
    color: #3BBFB4;
    font-size: 17px;
    text-align: center;
    background-color: #ffffff;
}
.sub_divcolor{
    color: #0099cc;
}
.content{
    width: 100%;
    /* height: 620px; */
    padding-top: 60px;
    background-color: #ffffff;
}
.content_left{
    float: left;
    width: 16.7%;
    height: 100%;
    background-color: #3BBFB4;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #ffffff;
}
.content_right{
    float: left;
    width: 83.2%;
    height: 100%;
    background-color: #ecedf0;
}
ul,li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 14px;
    color: #ffffff;
}
.first_nav>li{
	height:40px;
	line-height:40px;
	padding:0 25px;
    transition: all 0.5s linear;
}
.first_nav>li:hover{
    background-color: #ffffff;
    color: seagreen;

}
.second_nav{
    display: none;
}
.first_li {
    border-top: 1px solid #00D9D9;
    cursor: pointer;
}
.first_li>span{
    display: inline-block;margin-bottom:15px;
}
.second_nav>li{
    cursor: pointer;
    padding: 0 50px;
    margin: 0px;
	height:40px;
	line-height:40px;
    font-size: 14px;
    background-color: #009999;
    transition: all 0.5s linear;
}
.second_nav>li:hover{
    background-color: #006666;
}
.footer{
    position: fixed;
    color: #ffffff;
    text-align: center;
    width: 100%;height: 30px;
    background-color: #3BBFB4;
}
.footer div{
    width: 100%;
    height: 30px;
    line-height:30px;
}
.right_nav{
    border: 1px solid #ffffff;
    border-left: none;
    background-color: #3BBFB4;
    height: 48px;
    position: fixed;
    width: 100%;
    box-shadow: 0 6px 1px lightgray;
}
.right_content{
    height: 512px;
    width: 100%;
    overflow-y: scroll;
    /*padding-top: 48px;*/
}

.main_panel{
	background-color: #ecedf0;
}
.second_nav li a{
	color:#fff;
}

.route{
	font-family: inherit;
	background: #3BBFB4;
	box-shadow: 1px 3px 0 1px #cccccc;
	height: 40px;
	line-height:40px;
	padding: 0;
	z-index: 10;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
.route .breadcrumb {
	margin:0;
	padding:0 15px;
	width: 100%;
	list-style: none;
	background-color: transparent;
	border-radius: 0;
	font-size: 14px;
	font-weight: 400;
}
.route .breadcrumb > li {
	display: inline-block;
}
.route .breadcrumb li a {
	text-decoration: none;
	color: #ffffff;
}
.route .breadcrumb li span {
	margin-right: 5px;
	font-size: 14px;
}
.route .breadcrumb > .active {
color: #ffffff;
}
.pull-right {
	float: right !important;
}
.route h2 {
	color: #FFF;
	border-bottom: 4px solid #368ee0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	display: inline-block;
	float: left;
	height: 40px;
	font-size: 20px;
	font-size: 2rem;
	letter-spacing: normal;
	line-height: 40px;
	margin: 0 0 0 -1px;
	padding: 0 22px 0 20px;
	text-transform: uppercase;
}