body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family:"ו",Arial, Helvetica, sans-serif;
	background:#e6f3fb url(../images/login_bg.jpg) repeat-x top;
	}
.login {
	height:610px;
 	}
.login_input {
	width:250px;
	border:1px solid #6c9fce;
	height:21px;
	padding:3px 3px 0 3px;
	}
.button_login,.button_reset {
	width:70px;
	height:26px;
	border:0;
	cursor:hand;
	}
.button_login {
	background:url(../images/button_login.jpg) no-repeat;
	}
.button_reset {
	background:url(../images/button_reset.jpg) no-repeat;
	}
