*{
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;
}
ul,li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
body{
    width: 100%;
    height: 670px;
}
.d_container{
    width: 100%;
    height: 100%;
    /* background:url("../images/bg.jpg") no-repeat; */
}
.d_header{
    text-align: center;
    font-family: 微软雅黑;
    font-size: 35px;
    color: #ffffff;
    padding-top: 40px;
}
.d_footer{
	text-align: center;
	color: #ffffff;
}
.d_content{
    width: 25%;
    margin:30px auto;
    height: 436px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.con_header{
    font-family: 微软雅黑;
    width: 50%;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: #555555;
}
.con_form{
    width: 80%;
    margin: 0px auto;
}
option{
    margin: 0px;
    padding: 0px;
}
.form-control{
    border: none;
    border-bottom: 1px solid darkgrey;
    box-shadow: none;
    border-radius: 0px;
    margin-top: 20px;
}
.form-control:focus{
    border: none;
    border-bottom:  1px solid #0099cc;
    box-shadow: none;
    border-radius: 0px;
}
.newform-control{
    border-bottom:  1px solid #0099cc;
}
.form-group{
    position: relative;
}
.form_label{
    position: absolute;
    top: 10px;
    left: 16px;
    color: gray;

}
select,option{
    font-size: 15px;
    color:gray;
}
select:focus{
    color: #0099cc;
}
.newform_label{
    animation: anim 0.5s linear;
    -webkit-animation: anim 0.5s linear;
    -moz-animation:anim 0.5s linear ;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
.form-control:focus+.form_label{
    animation: anim 0.5s linear;
    -webkit-animation: anim 0.5s linear;
    -moz-animation:anim 0.5s linear ;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
@-webkit-keyframes anim {
    from{
        top: 10px;
        color:gray ;
        font-size: 15px;
    }
    to{
        top:-10px;
        color: #0099cc;
        font-size: 10px;

    }
}
@keyframes anim  {
    from{
        top: 10px;
        color:gray ;
        font-size: 15px;
    }
    to{
        top:-10px;
        color: #0099cc;
        font-size: 10px;

    }
}
.wrong{
    border-bottom: 1px solid #cc0001;
}
.true{
    border-bottom: 1px solid seagreen;
}
.d_container{
	height:570px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}