<!DOCTYPE html>
<html>
<head>
<title>系统功能</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tutoring Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
	<style>
		*{
			font-family: 微软雅黑;
		}
		.div_content{
			height: 900px;
			width: 100%;
			margin: 0px;
			padding: 0px;
		}
		.div_header{
			background-color: #ffffff;
			text-align: center;
			margin: 20px auto;
		}
		h2{
			color: #0099cc;
		}
		.cont{
			width: 90%;
			margin: 0px auto;
		}
		div{
			margin: 0px auto;
		}
	</style>
</head>
<body>
<!--start-header-->
<div class="header" id="home">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><img src="images/logonew.png" style="height: 70px" alt="" /></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="index.html" class="hvr-bounce-to-top">首页<span class="sr-only">(current)</span></a></li>
					<li><a href="about.html" class="hvr-bounce-to-top">特色介绍</a></li>
					<li><a href="services.html" class="hvr-bounce-to-top">系统功能</a></li>
					<li><a href="#" class="hvr-bounce-to-top">帮助中心</a></li>
					<li><a href="contact.html" class="hvr-bounce-to-top">联系我们</a></li>
				</ul>
				<div class="clearfix"></div>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</div>
<!--end-header-->

<div class="div_content">
	<div class="div_header">
		<h2>我们提供的服务</h2>
	</div>
	<div class="cont">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="col-lg-4 col-md-4 col-sm-4" >
				<div style="position:relative;width: 351px;height: 296px;background-color: #0099cc;color: #ffffff;font-size: 40px;text-align: left;">
					<div  style="position: absolute;left: 60px;top: 55px">
						<p>WHAT</p>
						<p>WE</p>
						<p>OFFER</p>
					</div>
				</div>
				<div style="width: 351px;height: auto;text-align: left;margin-top: 10px;">
					<p>SAM是基于大数据分析和自然语言处理技术，集五大特色功能于一体的教学管理系统</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<img src="images/zdct.png">
				<div style="width: 70px;height: 50px;background-color: #0099cc;color: seashell;font-size: 35px;text-align: center;display: inline-block">01</div>
				<div style="width: 281px;height: 50px;background-color: lightgrey;color: #0099cc;font-size: 28px;padding-top:7px;text-align: center;display: inline-block;margin-left: -4px">系统自动出题</div>
				<div style="width: 351px;height: auto;text-align: left;margin-top: 10px;">
					<p>教师通过注册信息，上传教学内容，即可进行作业发布，实现自动出题，选择题，填空题，主观题一步搞定。</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<img src="images/zdpf.png">
				<div style="width: 70px;height: 50px;background-color: #0099cc;color: seashell;font-size: 35px;text-align: center;display: inline-block">02</div>
				<div style="width: 281px;height: 50px;background-color: lightgrey;color: #0099cc;font-size: 28px;padding-top:7px;text-align: center;display: inline-block;margin-left: -4px">系统自动评分</div>
				<div style="width: 351px;height: auto;text-align: left;margin-top: 10px;">
					<p>学生通过平台登录，完成在线作业，系统即可自动评分，并提供人性化反馈。</p>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 50px">
		<div class="col-lg-4 col-md-4 col-sm-4">
			<img src="images/xtxz.png">
			<div style="width: 70px;height: 50px;background-color: #0099cc;color: seashell;font-size: 35px;text-align: center;display: inline-block">03</div>
			<div style="width: 281px;height: 50px;background-color: lightgrey;color: #0099cc;font-size: 28px;padding-top:7px;text-align: center;display: inline-block;margin-left: -4px">在线实时协同协作</div>
			<div style="width: 351px;height: auto;text-align: left;margin-top: 10px;">
				<p>系统提供特色化在线实时协同协作功能，教师布置小组作业，学生通过平台即可实时进行协同协作。</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<img src="images/kshfx.png">
			<div style="width: 70px;height: 50px;background-color: #0099cc;color: seashell;font-size: 35px;text-align: center;display: inline-block">04</div>
			<div style="width: 281px;height: 50px;background-color: lightgrey;color: #0099cc;font-size: 28px;padding-top:7px;text-align: center;display: inline-block;margin-left: -4px">可视化写作行为分析</div>
			<div style="width: 351px;height: auto;text-align: left;margin-top: 10px;">
				<p>系统提供实时的可视化专注度反馈，学生学习的专注度实时显现，激发学习兴趣，提高学习成绩。</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<img src="images/bigdate.png">
			<div style="width: 70px;height: 50px;background-color: #0099cc;color: seashell;font-size: 35px;text-align: center;display: inline-block">05</div>
			<div style="width: 281px;height: 50px;background-color: lightgrey;color: #0099cc;font-size:28px;padding-top:7px;text-align: center;display: inline-block;margin-left: -4px">大数据成绩分析</div>
			<div style="width: 351px;height: auto;text-align: left;margin-top: 10px;">
				<p>系统给出精准的可视化大数据成绩分析，教师实时掌握学生的作业完成情况。</p>
			</div>
		</div>
	</div>
		</div>
</div>

	<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="col-md-4 footer-left">
					<span class="glyphicon glyphicon-map-marker map-marker" aria-hidden="true"></span>
					<p>重庆市 北碚区天生路2号西南大学 <span>计算机与信息科学学院 教育技术系</span></p>
				</div>
				<div class="col-md-4 footer-left">
					<span class="glyphicon glyphicon-phone map-marker" aria-hidden="true"></span>
					<p>15178719397<span>mingliu@swu.edu.cn</span> </p>
				</div>
				<div class="col-md-4 footer-left">
					<p class="footer-class">Copyright &copy; 2016.Company name All rights reserved</p>
					<ul>
						<li><a href="#"><span class="fb"></span></a></li>
						<li><a href="#"><span class="twit"></span></a></li>
						<li><a href="#"><span class="rss"></span></a></li>
						<li><a href="#"><span class="ggl"></span></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				/*
				 var defaults = {
				 containerID: 'toTop', // fading element id
				 containerHoverID: 'toTopHover', // fading element hover id
				 scrollSpeed: 1200,
				 easingType: 'linear'
				 };
				 */

				$().UItoTop({ easingType: 'easeOutQuart' });

			});
		</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-->
</body>
</html>